/* @media (min-width: 1024px) { */
  /* Home.jsx */
  
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("./assets/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .logo {
    display: flex;
    height: 40%;
    justify-content: center;
    margin-bottom: 3%;
  }

  .home-button {
    height: 100px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    border: 5px solid #000000;
    box-shadow: 3px 3px 3px rgb(72,71,69);
    text-align: center;
    overflow:hidden;
    transition: .3s;
    background-color: white;
    font-size: 30px;
  }
  .home-button:hover {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    font-size: 33px;
  }
  .back-button{
    margin-top: 2%;
    height: 50px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5%;
    text-align: center;
    overflow:hidden;
    transition: .3s;
    background-color: white;
    font-size: 15px;
    box-shadow: 5px 5px 5px black;
  }
  .back-button:hover {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  #meme {
    height: 400px;
  }
/* } */
