@media (min-width: 1024px) {
  /* Home.jsx */
  
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .logo {
    display: flex;
    /* margin-bottom: 10%; */
    height: 40%;
    justify-content: center;
  }

  .home-button {
    margin-top: 2%;
    height: 200px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5%;
    text-align: center;
    overflow:hidden;
    transition: .3s;
    background-color: white;
    font-size: 30px;
  }
  .home-button:hover {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    font-size: 33px;
  }
  .back-button{
    margin-top: 2%;
    height: 50px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5%;
    text-align: center;
    overflow:hidden;
    transition: .3s;
    background-color: white;
    font-size: 15px;
  }
  .back-button:hover {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}
